<launch>
	<arg name="marker_size" default="4.5" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="cam_image_topic" default="/head_camera/rgb/image_raw" />
	<arg name="cam_info_topic" default="/head_camera/rgb/camera_info" />

	<arg name="output_frame" default="head_camera_rgb_optical_frame" />

    <arg name="bundle_files" default="$(find blitzcrank)/bundles/end-effector.xml $(find blitzcrank)/bundles/target.xml" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />

    <node name="ar_track_republish" pkg="blitzcrank" type="ar_track_republish" respawn="false" output="screen">
      <param name="target_frame" value="ar_marker_3" />
      <param name="end_effector_frame" value="ar_marker_0" />
    </node>
	
</launch>
