<launch>
  <!-- you should first setup your camera grabbing/rectification nodes,
       see image_pipeline documentation. -->

  <!-- tracking node -->
  <node pkg="visp_tracker" type="tracker" name="tracker_mbt">
    <param name="camera_prefix" value="/camera/rgb" />
    <param name="tracker_type" value="mbt+klt" />
  </node>

  <!-- starts the client while setting the camera input and the model
       which will be tracked -->
  <node pkg="visp_tracker" type="visp_tracker_client" name="visp_tracker_mbt_client">
    <param name="camera_prefix" value="/camera/rgb" />
    <param name="model_name" value="laas-box" />
    <param name="tracker_type" value="mbt+klt" />
  </node>
  <node pkg="visp_tracker" type="visp_tracker_viewer" name="visp_tracker_mbt_viewer">
    <param name="camera_prefix" value="/camera/rgb" />
    <param name="model_name" value="laas-box" />
    <param name="tracker_type" value="mbt+klt" />
  </node>
</launch>
