<launch>
    <arg name="gazebo" default="false" />
    <arg name="use_localizer" default="true" />
    <arg name="target_tracking" default="false" />
    
    <group if="$(arg use_localizer)">
        <arg name="target_frame" value="localized_object" if="$(arg target_tracking)" />
        <arg name="target_frame" value="grasp_target" unless="$(arg target_tracking)" />

        <param name="target_object_class" value="bottle" />

        <include file="$(find mbot_perception_launch)/launch/mbot_perception.launch">
            <arg name="launch_generic" value="true"/>
            <arg name="launch_specific" value="false"/>
        </include>

        <node pkg="kinova_manipulation" type="object_localizer_republish" name="object_localizer_republish" />
    </group>
    <group unless="$(arg use_localizer)">
        <arg name="target_frame" value="target_marker" if="$(arg target_tracking)" />
        <arg name="target_frame" value="grasp_target" unless="$(arg target_tracking)" />
    </group>
    
    <include file="$(find mbot_kinova_arm_moveit)/launch/kinova_demo.launch" />
    <include file="$(find kinova_manipulation)/launch/ar-track.launch" />

    <include file="$(find kinova_manipulation)/launch/pregrasp-service.launch">
        <arg name="target_frame" value="localized_object" if="$(arg use_localizer)" />
        <arg name="target_frame" value="target_marker" unless="$(arg use_localizer)" />

        <arg name="target_tracking" value="$(arg target_tracking)" />
    </include>

    <include file="$(find kinova_manipulation)/launch/visual-servoing.launch">
        <arg name="gazebo" value="$(arg gazebo)" />

        <arg name="target_frame" value="grasp_target" unless="$(arg target_tracking)" />

        <arg name="target_frame" value="localized_object" if="$(eval arg('target_tracking') and arg('use_localizer'))" />
        <arg name="target_frame" value="target_marker" if="$(eval arg('target_tracking') and arg('use_localizer')==False)" />

        <arg name="target_tracking" value="$(arg target_tracking)" />
    </include>
</launch>
