<launch>
  <arg name="gazebo" default="false" />
  <arg name="debug" default="false" />

  <remap from="/joint_states" to="/kinova_driver/out/joint_state" />
  <node pkg="blitzcrank" type="visual_servoing" name="visual_servoing" output="screen">
    <param name="target_frame" value="target_marker" />
    <param name="visual_servoing_speed_cap" value="0.5" />
    <param name="visual_servoing_k" value="5" />
  </node>

  <node pkg="blitzcrank" type="joint_trajectory_control" name="blitzcrank_traj_control" output="screen">
    <param name="gazebo" value="$(arg gazebo)" />
    <param name="debug" value="$(arg debug)" />
  </node>
<node pkg="tf" type="static_transform_publisher" name="virtual_tool_broadcaster" args="0 0.06 -0.06 0 0 0 end_effector_marker grasp_tool 100" />
</launch>
