<launch>
    <arg name="gazebo" default="false" />
    <arg name="debug" default="false" />

    <remap from="/joint_states" to="/kinova_driver/out/joint_state" />
    <node pkg="blitzcrank" type="visual_servoing" name="visual_servoing" output="screen">
        <param name="target_frame" value="ar_marker_3" />
    </node>

    <node pkg="blitzcrank" type="joint_trajectory_control"                      name="blitzcrank_traj_control" output="screen">
      <param name="gazebo" value="$(arg gazebo)" />
      <param name="debug" value="$(arg debug)" />
    </node>

</launch>
