<launch>
  <arg name="gazebo" default="false" />
  <arg name="debug" default="false" />
  <arg name="target_frame" default="grasp_target" />
  <arg name="target_tracking" default="false" />

  <remap from="/joint_states" to="/kinova_driver/out/joint_state" />
  <node pkg="blitzcrank" type="visual_servoing" name="visual_servoing" output="screen">
    <param name="target_frame" value="$(arg target_frame)" />
    <param name="target_tracking" value="$(arg target_tracking)" />
    <param name="visual_servoing_speed_cap" value="2" />
    <param name="visual_servoing_k" value="12" />
    <param name="visual_servoing_stopping_distance" value="0.025" />
  </node>

  <node pkg="blitzcrank" type="joint_control" name="mbot_kinova_joint_control" output="screen">
    <param name="gazebo" value="$(arg gazebo)" />
    <param name="debug" value="$(arg debug)" />
  </node>
<node pkg="tf" type="static_transform_publisher" name="virtual_tool_broadcaster" args="0 0.06 -0.06 0 0 0 end_effector_marker grasp_tool 100" />
</launch>
