<include file="$(find mbot_kinova_arm_moveit)/launch/kinova_demo.launch" />
<include file="$(find blitzcrank)/launch/ar-track.launch" />
<include file="$(find blitzcrank)/launch/pregrasp-service.launch" />
<include file="$(find blitzcrank)/launch/visual-servoing.launch" />

<!-- TODO launch SMach node -->